.tmsp {
	display: inline;
	color: grey;
	font-size: small;
}

.user {
	font-weight: bold;
}

html {
	font-family: Helvetica,Arial,sans-serif;
}

.user:hover {
	color: #1DA1F2;
	text-decoration: underline;
	cursor: pointer;
}

.msg {
	font-size: 90%;
}

.tweet {
	box-sizing: border-box;
	margin: 0 auto;
	width: 600px;
	border-bottom: 1px dotted #4AB3F4;
	overflow: auto;
}

.upd-btn, 
.upd-btn:visited,
.upd-btn:focus {
	background-color: #4AB3F4;
	color: white;
	border-radius: 100px;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	outline: none;
}

.upd-btn:hover {
	background-color: #1DA1F2;
	border-color: #1DA1F2;
}